body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-tab {
    background-color: #1388cb;
    border-radius: 6px;
    height: 50px;
    color: white; 
}

a.header-link {
    color: white;
}

a.header-link:active {
    color: white;
}

a.header-link:link {
    color: white;
}

a.header-link:visited {
    color: white;
}

a.header-link:hover {
    color: orange;
}

.codePanel {
    max-width: 1134px;
    display: inline-block;
}

.row {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#p {
    text-indent: 15px;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important;
}

.page-tab.toggable {
    border: 1px solid orange;
}

.page-tab.toggable:hover {
    cursor: pointer;
    background-color: #4faade;
    color: orange;
}

.toBeToggled {
    
}
