<p class="lead">
    At the beginning I will try to explain you a bit of what kind of tests I prepared to compare Entity Framework and SqlBulkCopy.
    <br/>Lets imagine you have an application that has to insert (or update) a big bunch of items into database. I know - really exceptional situation! 
    So lets say I simply read a file, receive collection through web service, some queue or any other source of data transmission. 
    After that I just want to do something with them and save into my database. In most cases when you develop tiny web page you won't have that kind of issues but when you 
    for instance work with high frequency trading platform, then suddenly it becomes very ccommon scenario. 
    <br/> 
    <br/>
    <br/>
    ..... to be continued
</p>
<p><pre class="prettyprint linenums">

</pre></p>
