<div class="row col-md-12 container">
    <p class="lead">
        DI and multiple implementation - from partial view
    </p>
    <p>
        <pre class="prettyprint">
            public class GenericsTest
            {
                public void Start(string[] args)
                {
                    var inputString = new StringBuilder();
                    inputString.AppendLine("Vno1jacek     abramczyk      ");
                    inputString.AppendLine("Vno1robert    samczyk        ");
                    inputString.AppendLine("Vno2jacek     robert    abramczyk      ");
                    inputString.AppendLine("Vno2michal    radoslaw  sciupek        ");

                    var finalString = inputString.ToString();

                    foreach (var line in finalString)
                    {
                        var converterType = TypeConverter.GetType("Vno1");
                    }
                }
            }
        </pre>
    </p>
</div>