@{
    ViewBag.Title = "Blog";
}
<h2>@ViewBag.Title</h2><br/>

    <strong>My apologise, still under development ...  </strong><br />
<span>but no worries will be ready pretty soon</span>
    @*<abbr title="Phone">P:</abbr>*@
