@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2><br />
<h5>@ViewBag.Message</h5><br />

<address>
    <strong>Address:</strong> Worldwide<br />
    @*<abbr title="Phone">P:</abbr>*@

</address>

<address>
    <strong>Email:</strong> <a href="mailto:jaxcexkx.axbramxczxyk@gxmaxil.xcxom" onmouseover="this.innerHTML = this.href.replace(/x/g, '').substr(7);">hover over to show me :)</a><br />
</address>