@model Personal.Models.PostShortDescription

<div class="page-tab page-tab-text">@Html.DisplayFor(modelItem => Model.Title)</div>
    
<div class="row col-md-12 container">
    <p class="lead">
        @Html.Raw(Model.Description)
    </p>
    <p> 
        @Html.Partial(Model.PartialViewName)
    </p>
</div>